* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;/*16px = 1.6rem*/
}

body {
  font-size: $font-size-rem;
  font-size: $font-size;
  line-height: $line-height;
}

ul,ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $base-font-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $base-font-color;
  }

  &:visited {
    text-decoration: underline;
    color: $base-font-color;
  }
}

