.comment-form {
  font-size: 1.8rem;
}

.form-text {
  border: 1px solid $color-light-gray;
}

.form-textarea {
  border: 1px solid $color-light-gray;
}

.form-submit {
  background: none;
  border: 1px solid $color-light-gray;
  font-size: 1.4rem;
  padding: 5px 14px;
}