.navbar-block {
  @include clearfix;
  float: right;
}

.navbar-header {
  height: 80px;
  line-height: 80px;

  @include susy-breakpoint($tablet-breakpoint) {
    display: none;
  }  
}

.navbar-toggle {
  background-color: $color-base-white;
  border: 0;

}

.menu-block {
  display: none;
  position: absolute;
  left: 15px;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.09);


  @include susy-breakpoint($tablet-breakpoint) {
    display: block;
    position: static;
    height: 80px;
    line-height: 80px;
    box-shadow: none;
  }
}

.menu-item {
  list-style: none;
  font-size: 1.6rem;
  border-bottom: 1px solid $color-light-gray;

  > a {
    display: block;
    padding: 10px;
    background-color: $color-base-white;
  }

  &:last-child {
    border: 0;
  }

  @include susy-breakpoint($tablet-breakpoint) {  
    float: left;
    margin-right: 20px;
    border: 0;

    > a {
      display: inline;
      background: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

//Reset drupal default style
ul.menu li {
  margin: 0;
}

ul li.leaf {
  list-style: none;
}

li.leaf {
  padding: 0;
}