//Home
.post {
  margin-bottom: 60px;
}

.post-date {
  font-size: 12px;
  color: $color-base-gray;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 3rem;
}

.post-summary {
  color: $color-dark-gray;
  line-height: 2rem;
}