.container {
  @include container;
  @include clearfix;
  position: relative;
　padding: 0 30px;

  @media (min-width: $desktop-max-width) {
    @include container($desktop-max-width);
    padding: 0;
  }

}

.main-content {

  @include susy-breakpoint($desktop-max-width) {
    @include span(9 of 12);
    margin-top: 20px;
  }
}

.sidebar {
  margin-bottom: 60px;

  @include susy-breakpoint($desktop-max-width) {
    @include span(3 of 12 last);
    margin-top: 20px;
  }
}